body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}


button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}


button:hover {
    opacity: 0.9;
}